.container {
    width: 1024px;
    background-color: rgb(122, 247, 153);
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {

    background-color: rgba(4, 73, 4, 0.863);
    min-height: 100px;
}

main {

    background-color: rgb(18, 192, 192);
    min-height: 300px;
}

.cards  {

    background-color: rgb(116, 233, 142);
    min-height: 300px ;
}